<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"> We are a team of students from the University of Southern California interested in working on Augmented reality app development. As we entered the realm of AR, we decided to invest in building this project and understanding what AR has to offer. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2018</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We first got introduced to this class thanks to Professor Mike Zyda and Professor Vangelis Lympouridis. This class offered us the perfect platform to venture into the world of Mixed reality and explore the cutting edge technology and developer tools available to us out there.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2018</h4>
                                    <h4 class="subheading">An Idea is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We came up with an idea for a game project. After a week of planning we zero in on making an Augmented reality game app in the direction of reviving some of the classic 2-D games into the AR world. We decide to build this game with ARCore and Unity.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2018</h4>
                                    <h4 class="subheading">Idea turns into reality, Augmented Reality to be precise</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We finish developing the app with an extensive and interactive 3-D level with several features like power-ups, new characters, ranged weapons etc.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2018</h4>
                                    <h4 class="subheading">Future Expansions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With this and our introduction to the world of Augmented Reality, we want to continue exploring AR, keep pushing to build newer experiences through the tools available at our disposal. The future of this app revolvles around utilizing ARCore Cloud anchors to allow several players to come together and play the game on a single map, connected and reliving the virtual world merged into the real-world.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
